@model IEnumerable<WebApp.ViewModels.ProductViewModel>

<h2>Product List</h2>

@foreach (var product in Model)
{
    <div>
        <h3>@product.Name</h3>
        <img src="@product.Image" alt="@product.Name" />
        <p>@product.Description</p>
        <p>Price: @product.Price</p>
        <p>Category: @product.Category</p>
        <p>Size: @product.Category </p>
        <p>Color: @product.Color</p>
        <p>Metal: @product.MetalType</p>
        <a href="@Url.Action("Details", "Products", new { id = product.ProductID })">Details</a>
    </div>
}